In [1]:
import requests
import pandas as pd
import time

def fetch_all_data(url, headers, start_date, end_date):
    all_data = []
    next_cursor = None
    queries = 0

    while True:
        if next_cursor is not None:
            paginated_url = f"{url}&start_date={start_date}&end_date={end_date}&cursor={next_cursor}"
        else:
            paginated_url = f"{url}&start_date={start_date}&end_date={end_date}"

        response = requests.get(paginated_url, headers=headers)
        queries += 1
        data = response.json()

        if not data['data']:
            break

        all_data.extend(data['data'])

        if 'meta' in data and 'next_cursor' in data['meta']:
            next_cursor = data['meta']['next_cursor']
        else:
            break

        if queries >= 598:
            time.sleep(60)
            queries = 0

    return all_data

base_url = "https://api.balldontlie.io/v1/stats?seasons[]="
headers = {
    "Authorization": "b550c0f1-670c-48dd-aba9-81e75cdd43b7"
}

start_date = "2011-10-24"
end_date = "2023-06-12"

all_years_data = []

for year in range(2011,2023):
    url = base_url + str(year)
    data = fetch_all_data(url, headers, start_date, end_date)
    all_years_data.extend(data)
    print(f"Fetched data for season {year}")

# Concatenate data into one dataframe
all_years_df_4=pd.json_normalize(all_years_data)

# Process or save data as needed
# For example, save to CSV
all_years_df_4.to_csv("all_years_data_4.csv", index=False)

Fetched data for season 2011
Fetched data for season 2012
Fetched data for season 2013
Fetched data for season 2014
Fetched data for season 2015
Fetched data for season 2016
Fetched data for season 2017
Fetched data for season 2018
Fetched data for season 2019
Fetched data for season 2020
Fetched data for season 2021
Fetched data for season 2022

In [5]:
all_years_df_3

,id,min,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,ftm,fta,...,game.date,game.season,game.status,game.period,game.time,game.postseason,game.home_team_score,game.visitor_team_score,game.home_team_id,game.visitor_team_id
0,269865,16,3.0,8.0,0.375,0.0,0.0,NaN,1.0,2.0,...,2000-11-01,2000,Final,4,,False,103,83,2,9
1,269866,26,3.0,8.0,0.375,0.0,0.0,NaN,0.0,0.0,...,2000-11-01,2000,Final,4,,False,103,83,2,9
2,269867,29,3.0,4.0,0.750,0.0,0.0,NaN,0.0,2.0,...,2000-11-01,2000,Final,4,,False,103,83,2,9
3,269868,34,1.0,14.0,0.071,0.0,4.0,0.000,0.0,0.0,...,2000-11-01,2000,Final,4,,False,103,83,2,9
4,269869,34:07,7.0,21.0,0.333,3.0,7.0,0.429,3.0,4.0,...,2000-11-01,2000,Final,4,,False,103,83,2,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341797,612514,7,0.0,1.0,0.000,0.0,0.0,NaN,0.0,2.0,...,2011-06-12,2010,Final,4,,True,95,105,16,7
341798,612515,21,3.0,7.0,0.429,3.0,6.0,0.500,0.0,0.0,...,2011-06-12,2010,Final,4,,True,95,105,16,7
341799,612516,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2011-06-12,2010,Final,4,,True,95,105,16,7
341800,612517,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2011-06-12,2010,Final,4,,True,95,105,16,7
341801,612518,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2011-06-12,2010,Final,4,,True,95,105,16,7

In [14]:
df_sorted = df.sort_values(by='game.season')

In [15]:
df_sorted

,id,min,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,ftm,fta,...,game.date,game.season,game.status,game.period,game.time,game.postseason,game.home_team_score,game.visitor_team_score,game.home_team_id,game.visitor_team_id
0,234975,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1999-11-10,1999,Final,4,,False,89,104,3,24
20089,259972,47:11,14.0,29.0,0.483,0.0,1.0,0.000,3.0,3.0,...,2000-03-04,1999,Final,4,,False,103,108,27,26
20088,259971,22:50,3.0,5.0,0.600,0.0,0.0,0.000,3.0,3.0,...,2000-03-04,1999,Final,4,,False,103,108,27,26
20087,259970,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2000-04-09,1999,Final,4,,False,99,107,15,27
20086,259969,24:18,5.0,15.0,0.333,3.0,8.0,0.375,1.0,1.0,...,2000-04-04,1999,Final,4,,False,111,85,16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10035,249848,18:15,2.0,6.0,0.333,0.0,0.0,0.000,0.0,0.0,...,1999-12-30,1999,Final,4,,False,122,100,11,13
10034,249847,33:03,8.0,12.0,0.667,1.0,2.0,0.500,2.0,2.0,...,1999-12-30,1999,Final,4,,False,122,100,11,13
10033,249846,34:51,4.0,9.0,0.444,1.0,1.0,1.000,7.0,8.0,...,1999-12-30,1999,Final,4,,False,122,100,11,13
10045,249858,39:56,7.0,20.0,0.350,0.0,0.0,0.000,8.0,8.0,...,2000-01-02,1999,Final,4,,False,111,103,16,22
30123,13685112,8,2.0,4.0,0.500,0.0,0.0,NaN,0.0,0.0,...,1999-11-04,1999,Final,4,,False,106,96,21,7

In [2]:
import boto3
import pandas as pd

# Set up S3 connection
s3 = boto3.client('s3')

# List files in the S3 bucket
bucket_name = 'rmb-nba'
file_names = ["all_years_data_1.csv", "all_years_data_2.csv", "all_years_data_3.csv", "all_years_data_4.csv"]

# Concatenate files
dfs = []
for file_name in file_names:
    obj = s3.get_object(Bucket=bucket_name, Key=file_name)
    df = pd.read_csv(obj['Body'])
    dfs.append(df)

# Concatenate all dataframes
all_year_data = pd.concat(dfs)

# Save concatenated dataframe to a new CSV file
all_year_data.to_csv('all_year_data.csv', index=False)

/tmp/ipykernel_7037/3907409115.py:15: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(obj['Body'])
/tmp/ipykernel_7037/3907409115.py:15: DtypeWarning: Columns (1,23,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(obj['Body'])
/tmp/ipykernel_7037/3907409115.py:15: DtypeWarning: Columns (1,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(obj['Body'])

In [ ]:
import pandas as pd

# Load the CSV files from S3
current_df = pd.read_csv('s3://rmb-nba/Current.csv')
all_year_df = pd.read_csv('s3://rmb-nba/all_year_data.csv')

# Concatenate the dataframes
concatenated_df = pd.concat([current_df, all_year_df])

# Write the concatenated dataframe to a new CSV file
concatenated_df.to_csv('Current_Year.csv', index=False)

/tmp/ipykernel_7645/1453607490.py:5: DtypeWarning: Columns (1,23,26,45) have mixed types. Specify dtype option on import or set low_memory=False.
  all_year_df = pd.read_csv('s3://rmb-nba/all_year_data.csv')